
<h1>All questions</h1>

<table class="table table-hover">
<tr>
	<th>Question</th>
	<th>Tags</th>
</tr>


<% @question.each do |q| %>
<% if q.user %>
<tr>
	<td><%= q.ques %></td>
	<td><%= raw q.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

</tr>
<% end %>
<% end %>
</table>

<div><%= link_to "Trivia homepage", trivia_index_path %></div>
<div><%= link_to "Main homepage", pages_index_path %></div>
