<h1>No more questions</h1>

<h1>Your score is <%= current_user.score %></h1>

<div><%= link_to "Trivia homepage", trivia_index_path %></div>
<div><%= link_to "Main homepage", pages_index_path %></div>