<% if user_signed_in? %>
<h1>User score is <%= current_user.score %></h1>
<%end%>

<h1>Trivia</h1>

<div id="new question"><%= link_to "Create new trivia question?", new_question_path %></div>
<div><%= link_to "Trivia", trivia_index_path %></div>
<div><%= link_to "User scores", pages_score_path %></div>
